.flex-container-user{
  max-width: 80%;
  margin: 0.05rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .25rem;
  padding:0;
}

ul{
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  gap: .5rem;

  
}


#tasks {
  display: flex;
  flex-direction: column;
  width:100%;
  padding: 1rem;
  border-radius: 8px;
  max-height: 60vh;
  min-height: 33rem;
  max-height: 40rem;
  overflow: auto;
  /* background-color: #524133; */
  opacity: 1.0;
  position: relative;
  /* right: 2.5rem; */
  /* top: 62px;
  right:0px;
  left: 1350px;
  z-index: 5;  */
}

header {
  display: flex;
  width: 100%;
  justify-content:center;
  align-items: center;
  margin-bottom: 0rem;
  gap: 1rem;
}

/* h2 {
  margin: 0;
  font-size: 0.9rem;
  width: 60%;
  text-wrap: balance;
  color: #dd984e;
} */

menu {
  display:flex;
  max-width: 100%;
  justify-content: center;
  gap: 1px;
  padding:0;
  margin-top: 0;

}

menu a {
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.35rem 0.2rem;
  font-size: .75rem;
  text-decoration: none;
  gap:1rem;
}

/* a:hover,
a:active,
.selected {
  background-color: #4c311b;
  color: #4c311b;
} */


/* menu a:hover,
menu a:active
.selected   .active {

  background-color: #08424b;
  color: #1ddbf8;

} */

/* ul {
  list-style: none;
  width: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center; */
  /* justify-items: center; */
  /* flex-wrap: wrap;
  gap: 0.05rem;
  overflow:auto;
  margin: 1px;
  padding:0;
} 
*/  

@media (max-width: 768px) {
  h2 {
    font-size: 1.25rem;
  }
  header{
    margin:0;
    padding:0;
  }
 

  menu {
    max-width: 100%;
    margin:0;
    padding:0;
  }
  .flex-container-user {
  max-width: 100%;
  margin: 0.05rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

}
