<div class="flex-container">
  <div class="flex-item"><h2>Kish SAC - Click Explore Enjoy</h2></div>

  <div class="flex-item">
    <figure>
      <video
        autoplay
        [playsInline]="'playsinline'"
        [muted]="'muted'"
        [loop]="'loop'"
      >
        <source src="shark1.mp4" type="video/mp4" />
      </video>
      <figcaption>Kish 2025 - Azores Pico Island</figcaption>
    </figure>
  </div>
  <div class="flex-item">
    <h2 id="action">Really Explore - Contact Us!</h2>
  </div>

  <div class="flex-item" #audio>
    <app-audio />
  </div>
  <div class="flex-item">
    <h4 id="onoff">Audio on/off</h4>
  </div>
</div>
