
/* main {
  /* width: 150px; */
  /* max-width: 1750rem;
  margin: 2.5rem auto; */
  /* display: grid;
  grid-auto-flow: row; */
  /* display:flex;
  flex-direction: column ;
  gap: 5rem; */ 
/* } */


.container-menu {
  /* display: grid;
  grid-auto-flow: row; */
  /* max-width: 80%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap:wrap;
  margin: 0 auto;
  padding: 0 auto;
  /* gap: 5rem; */
   /* margin-top: 1rem; */
  /* margin-right: auto; */
  /* margin-bottom: 0rem; */
  /* margin-left: auto; */
}


ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-items: center; */
  flex-wrap: wrap;
  gap: 0.25rem;
  overflow:auto;
  margin: 5px;
  padding:0;
}

/* #menuItems {
  list-style: none;
  width: 100%; */
  /* margin: 0;
  padding: 0; */
  /* display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  flex: row;
  gap: .25rem;
  overflow: auto;
  position: relative;

} */

@media (max-width: 768px) {
  
  .container-menu {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-items:center;
  flex-wrap:wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin: 0 auto; */
  /* margin-top: 1rem;
  margin-right: auto; */
  /* margin-bottom: 0rem; */
  /* margin-left: auto; */
  /* padding: 0; */
  /* gap: 5rem; */
}

  ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* #menuItems {
  list-style: none;
  width: 45%;
  */
  /* margin: 0;
  padding: 0; */
  /* display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  flex: row;
  gap: .25rem;
  /* overflow: auto;
  position: relative; */
  /* left: 0rem;  */
}
  

  /* #users {
    flex-direction: column;
  } */
 

/* @media (min-width: 768px) {
  ul {
    flex-direction: column;
  }
} */




