<div class="container">
  <p>Authenticated Member Area!</p>
</div>
<Div class="container">
  <Div id="item0">
    <a
      href="grouper3ELH.jpg"
      data-lightbox="image-1"
      data-title="Curious Grouper!"
    >
      <figure>
        <img src="grouper3ELH.jpg" alt="members image" />
        <figcaption>El Hierro Buddy- Click To View!</figcaption>
      </figure>
    </a>
  </Div>

  <Div>
    <h3>Members Area</h3>
    <p>
      This is the members area of the Kish Sub Aqua Club website. Here you can
      find exclusive content, updates, and resources available only to our
      membership and indeed to you as an individual member. It is an
      experimental area with more content to follow an in particular based on
      your feedback. Some suggestsions include:
    </p>

    <ul>
      <li>Exclusive Training Materials</li>
      <li>Individual Training programmes</li>
      <li>Event Recaps and Photos</li>
      <li>Discussion Forums</li>
      <li>Resource Library</li>
      <li>Club Training Videos</li>
      <li>Member Spotlights</li>
      <li>Member Feedback - Kisk & Diving Ireland</li>
      <li>Committee Area</li>
    </ul>
    <p>
      We welcome your suggestions on what you would like to see here and indeed
      in general!
    </p>

    <hr />

    <div class="control">
      <label for="message">Your Suggestion</label>
      <textarea id="message" name="message" rows="2" cols="75"></textarea>
    </div>
    <p class="form-actions">
      <button type="reset" class="button button-flat">Reset</button>
      <button type="submit" class="button">Submit</button>
    </p>
  </Div>
</Div>
