<div class="wrapper">
  <div>
    <img src="/kishLogo3.png" alt="logo image" />
  </div>

  <div>
    <h3>A Typical Week</h3>
    <br />
    <p>
      We go swimming in the Guinness Pool on Watling Street on Wednesday nights,
      between 8 and 9 p.m. We’ve been known to play underwater rugby
      occasionally, and the steam room and sauna up the top of the pool help us
      to wind down afterwards… We have run try a dive nights on Wednesdays
      during the year - between 8-9pm in the Guinness Pool, address above. For
      details you can contact our training officer. There is no charge or
      commitment required for this, it is simply a give it a go and see if you
      like it then you could look at the possibility of taking this interest
      further.
    </p>

    <br />
    <h3 id="what-you-can-see-on-a-dive">What you can see on a dive</h3>
    <br />
    <p>
      The most common question asked by people who have a passing interest in
      diving is “What is there to see down there?” There seems to be a
      perception that Irish Seas are dull and uninteresting, when in fact quite
      the opposite is true. Cold waters of the earths seas such as the Irish Sea
      and the Atlantic ocean are in fact very alive. Granted visibility in
      Dublin Bay is not the red sea - you can see photos of one of the club
      trips at the red sea on our Fairplay to Kish member Rob Bolger for getting
      this piece of video when we were returning to port.
    </p>
    <hr />
  </div>

  <div>
    <img src="/cft-full.svg" alt="CFT logo image" />
  </div>

  <div>
    <h3>Our Affiliation</h3>
    <br />

    <p>
      Kish Sub Aqua Club is affiliated to the Irish Underwater Council (CFT)
      which is the national governing body for recreational diving and
      underwater sports in Ireland. The CFT is affiliated to both CMAS (the
      world governing body for underwater activities) and the Irish Sports
      Council.
    </p>
    <br />
    <p>
      The CFT provides a nationally recognised training and certification system
      for diver training, and all Kish Sub Aqua Club instructors are CFT
      qualified.
      <br />
      <br />
      For more information on the CFT see their website at www.cft.ie.
    </p>
    <br />
    <br /><br /><br />
    <hr />
  </div>

  <div>
    <img src="/kish-house.svg" alt="CFT logo image" />
  </div>
  <div>
    <h3>Typical Training Programme</h3>
    <br />

    <p>Try-Dive sessions are used as introductory sessions</p>
    <br />
    <p>
      Diver * (One Star) training is the first level of certification <br />
    </p>

    <p>
      Traing is a combination of theory lecture sessions and pool training
      sessions
      <br />
      <br />
      For more information on the CFT see their website at www.cft.ie.
    </p>
    <br />
    <br /><br /><br />
    <p>todo flesh out and revamp all of the above</p>
    <hr />
  </div>
</div>
