<div class="wrapper">
  <div class="item0">
    <a
      href="Graduation-20251012-10.jpg"
      data-lightbox="image-1"
      data-title="Graduation Day!"
    >
      <figure class="item2">
        <img src="Graduation-20251012-10.jpg" alt="graduation image" />
        <figcaption>Click Images to Display</figcaption>
      </figure>
    </a>
  </div>

  <div class="item1">
    <hr />
    <h3>New Bubble Makers 2025!</h3>

    <p>
      Big congratulations to Barry, Catherine, Ocily, Patricia, Jose, who on the
      12th Oct just gone, all graduated as CMAS D1* divers.
    </p>
    <br />
    <p>
      Building on previous training, the two Petes (Mc and B) and Pat had a full
      plan in place for two boat dives through the day. It was a really
      enjoyable and informative session for all involved.
    </p>
    <br />
    <p>
      The group completed the two dives over the early afternoon and through to
      the early evening. It was gorgeous weather to be out on the water around
      Dalkey Island. However the in-water visibility was a little cloudy. In
      what could be deemed challenging conditions for new divers, and including
      dropping off the boat for the first time, the group completed all required
      tasks to a very high standard and performed exceptionally well.
    </p>
    <br />
    <hr />
    <h5>Click mages to enlarge!</h5>
  </div>
</div>
<div class="container">
  <a
    href="Graduation-20251012-9.jpg"
    data-lightbox="image-1"
    data-title="Ocily, Patricia and Jose - Kitting Up!"
  >
    <figure>
      <img src="Graduation-20251012-9.jpg" alt="graduation image" />
      <figcaption>Ocily, Patricia and Jose - Kitting Up!</figcaption>
    </figure>
  </a>
  <a
    href="Graduation-20251012-1.jpg"
    data-lightbox="image-1"
    data-title="Barry and Catherine"
  >
    <figure>
      <img src="Graduation-20251012-1.jpg" alt="graduation image" />
      <figcaption>Barry and Catherine</figcaption>
    </figure>
  </a>
  <a
    href="Graduation-20251012-11.jpg"
    data-lightbox="image-1"
    data-title="Dive Brief - The Elders"
  >
    <figure>
      <img src="Graduation-20251012-11.jpg" alt="graduation image" />
      <figcaption>Dive Brief - The Elders</figcaption>
    </figure>
  </a>
  <a
    href="Graduation-20251012-2.jpg"
    data-lightbox="image-1"
    data-title="Pre-Departure - Coxn Reading The Manual!"
  >
    <figure>
      <img src="Graduation-20251012-2.jpg" alt="graduation image" />
      <figcaption>Departure - Coxn Reading The Manual!</figcaption>
    </figure>
  </a>
  <a
    href="Graduation-20251012-3.jpg"
    data-lightbox="image-1"
    data-title="In between Dives - Dry Coxn (very!)"
  >
    <figure>
      <img src="Graduation-20251012-3.jpg" alt="graduation image" />
      <figcaption>In between Dives - Dry Coxn (very dry!)</figcaption>
    </figure>
  </a>
  <a
    href="Graduation-20251012-4.jpg"
    data-lightbox="image-1"
    data-title="Last Minute Essential Instrution!"
  >
    <figure>
      <img src="Graduation-20251012-4.jpg" alt="graduation image" />
      <figcaption>Last Minute Essential Instruction!</figcaption>
    </figure>
  </a>
  <a
    href="Graduation-20251012-5.jpg"
    data-lightbox="image-1"
    data-title="Definitely not thinking about Seals!"
  >
    <figure>
      <img src="Graduation-20251012-5.jpg" alt="graduation image" />
      <figcaption>Definitely not thinking about Seals!</figcaption>
    </figure>
  </a>
  <a
    href="Graduation-20251012-6.jpg"
    data-lightbox="image-1"
    data-title="One Dive Down - One To Go!"
  >
    <figure>
      <img src="Graduation-20251012-6.jpg" alt="graduation image" />
      <figcaption>One Dive Down - One To Go!</figcaption>
    </figure>
  </a>
  <a
    href="Graduation-20251012-7.jpg"
    data-lightbox="image-1"
    data-title="Happy New Divers!"
  >
    <figure>
      <img src="Graduation-20251012-7.jpg" alt="graduation image" />
      <figcaption>Happy New Divers!</figcaption>
    </figure>
  </a>

  <a
    href="Graduation-20251012-10.jpg"
    data-lightbox="image-1"
    data-title="Coxn Still Reading The Manual!"
  >
    <figure>
      <img src="Graduation-20251012-10.jpg" alt="graduation image" />
      <figcaption>Coxn Still Reading The Manual!</figcaption>
    </figure>
  </a>
</div>
