<div class="gallerycontainer">
  <div class="galleryitem">
    <video preload="auto" controls poster="valentia_v002Poster.jpg">
      <source src="valentia_v003.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <h4>Club Holiday 2025 Valentia (Skelligs 1)</h4>
  </div>
  <div class="galleryitem">
    <iframe
      width="480"
      height="272"
      src="https://www.youtube.com/embed/XTwTP-lYd4s?si=aKUrf0hwZQhwFOJC"
      title="Skellig 2025 - Club Holiday"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <h4>Club Holiday 2025 Valentia (Skelligs 2)</h4>
  </div>
  <div class="galleryitem">
    <video preload="auto" controls poster="jawsjuniorPoster.jpg">
      <source src="jawsjunior.mp4" type="video/mp4" />

      Your browser does not support HTML5 video.
    </video>
    <h4>Shark Ally - Pico Island Azores 2025</h4>
  </div>
  <div class="galleryitem">
    <video preload="auto" controls poster="picomems1Poster.jpg">
      <source src="picomems1.mp4" type="video/mp4" />

      Your browser does not support HTML5 video.
    </video>
    <h4>Pico Island Azores 2025 - Happy Divers</h4>
  </div>
  <div class="galleryitem">
    <video preload="auto" controls poster="GrouperAPoster.jpg">
      <source src="GrouperA.mp4" type="video/mp4" />

      Your browser does not support HTML5 video.
    </video>
    <h4>Azores Grouper - Santa Maria Azores 2025</h4>
  </div>
  <div class="galleryitem">
    <video preload="auto" controls poster="juliusz1Poster.jpg">
      <source src="juliusz1.mp4" type="video/mp4" />

      Your browser does not support HTML5 video.
    </video>
    <h4>Dalkey Island - Beatiful Day and Dive June 25</h4>
  </div>
  <div class="galleryitem">
    <video preload="auto" controls poster="turtle1Poster.jpg">
      <source src="turtle1.mp4" type="video/mp4" />

      Your browser does not support HTML5 video.
    </video>
    <h4>Pico Island Azores 2025</h4>
  </div>
  <div class="galleryitem">
    <video preload="auto" controls poster="OctoIrelandEyeAPoster.jpg">
      <source src="OctoIrelandEyeA.mp4" type="video/mp4" />

      Your browser does not support HTML5 video.
    </video>
    <h4>Octopus Irelands Eye</h4>
  </div>
  <div class="galleryitem">
    <video preload="auto" controls poster="yeysiOcto1Poster.jpg">
      <source src="yeysiOcto1.mp4" type="video/mp4" />

      Your browser does not support HTML5 video.
    </video>
    <h4>Octopus Gran Canaria</h4>
  </div>
  <div class="galleryitem">
    <video controls poster="BaltimoreSeals-2024-05-21Poster.jpg">
      <source src="BaltimoreSeals-2024-05-21.mp4" type="video/mp4" />

      Your browser does not support HTML5 video.
    </video>
    <h4>Fastnet Seals - Fabulous Encounter!</h4>
  </div>
  <div class="galleryitem">
    <iframe
      width="780"
      height="439"
      src="https://www.youtube.com/embed/-QKYLPBZUx0?si=EPXP6L4Ks9WTSuBD"
      title="Diving Skelligs 2025 Club Holiday"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      poster="valentia_v002Poster.jpg"
    ></iframe>
    <h4>Diving The Skelligs Valentia - Holiday 2025!</h4>
  </div>
  <div class="galleryitem">
    <iframe
      width="780"
      height="439"
      src="https://www.youtube.com/embed/SXkkqYwLhd4?loop=0&autoplay=0&rel=0&playlist=SXkkqYwLhd4"
      title="Leopard_Eel_ELHierro"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <h4>El Hierro - Leopard Eel!</h4>
  </div>
  <div class="galleryitem">
    <iframe
      src="https://www.youtube.com/embed/VGcxEqWekPY?si=_Wmbuljh-27WTjdq"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <h4>Connemara - Unique!</h4>
  </div>
  <div class="galleryitem">
    <iframe
      src="https://www.youtube.com/embed/Ef5z44oSxQA?si=QOmYeLOkXCWjZHdq"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <h4>U260 Submarine Baltimore Cork - Great Dive!</h4>
  </div>
  <div class="galleryitem">
    <iframe
      width="480"
      height="272"
      src="https://www.youtube.com/embed/GJWFquaxGk8?si=ApVltpJn9gPmnO6b"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <h4>Sandycove - Diving on our doorstep!</h4>
  </div>
  <div class="galleryitem">
    <iframe
      width="480"
      height="272"
      src="https://www.youtube.com/embed/y3zAQ4HYgrU?si=zJX-V9LdXwrzshJn"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <h4>Schull Co Cork - Stunning!</h4>
  </div>
</div>

<!-- <iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/Ef5z44oSxQA?si=QOmYeLOkXCWjZHdq"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe> -->

<!-- width="560"
    height="315" -->

<!-- <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/-QKYLPBZUx0?si=EPXP6L4Ks9WTSuBD"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div> -->

<!-- <iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/XTwTP-lYd4s?si=aKUrf0hwZQhwFOJC"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe> -->
