<div class="slackContainer">
  <div class="tidescontainer">
    <h2 class="tideItem">Dive Planning Section - todo</h2>
    <h2 class="tideItem">Dublin Port Tide Tables 2025 - todo</h2>
  </div>

  <div class="calculator">
    <h2>
      Slack Calculator - Muglins & Dalkey - Stewie logic & credits todo here
    </h2>
  </div>
  <div>
    <form action="">
      <br />
      <div class="control">
        <label for="tide1">Next Tide Time </label>
        <input id="tide1" type="number" />
      </div>
      <div class="control">
        <label>Next Tide Height </label>
        <input id="tide2" type="number" />
      </div>
      <div class="control">
        <label>Previous Tide Height</label>
        <input id="tide3" type="number" />
      </div>
      <div class="control">
        <label>Slack Time - Range</label>
        <input id="tide4" type="number" />
      </div>

      <p class="form-actions">
        <button type="reset" class="button button-flat">Reset</button>
        <button type="submit" class="button">Calculate</button>
      </p>
    </form>
  </div>

  <div class="streamContainer">
    <div class="streamItem">
      <iframe
        width="480"
        height="272"
        src="https://www.youtube.com/embed/dQ4fyLb4F3U?si=NWiI6efu2F_KspCV"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="streamItem">
      <iframe
        width="480"
        height="272"
        src="https://www.youtube.com/embed/jGAWFzTBXEE?si=djbZkCzGrbDXNS8S"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<!-- <div class="streamItem">
      <iframe
        width="480"
        height="272"
        src="https://www.youtube.com/embed/XTwTP-lYd4s?si=aKUrf0hwZQhwFOJC"
        title="Skellig 2025 - Club Holiday"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <h4>Club Holiday 2025 Valentia (Skelligs 2)</h4>
    </div> -->
