<div class="tidescontainer">
  <h2 class="tideItem">Dive Planning Section - todo</h2>
  <h2 class="tideItem">Dublin Port Tide Tables 2025 - todo</h2>
</div>
<br />
<hr />
<div class="calculator">
  <h2>
    Slack Calculator - Muglins & Dalkey - Stewie logic & credits todo here
  </h2>
</div>
<form action="">
  <br />
  <div class="control">
    <label for="tide1">Next Tide Time </label>
    <input id="tide1" type="number" />
  </div>
  <div class="control">
    <label>Next Tide Height </label>
    <input id="tide2" type="number" />
  </div>
  <div class="control">
    <label>Previous Tide Height</label>
    <input id="tide3" type="number" />
  </div>
  <div class="control">
    <label>Slack Time - Range</label>
    <input id="tide4" type="number" />
  </div>

  <p class="form-actions">
    <button type="reset" class="button button-flat">Reset</button>
    <button type="submit" class="button">Calculate</button>
  </p>
</form>
