.control {
    display:block;

}
.slackContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    max-width:100%;
}
.tidescontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: flex-start;
    
}
.tideItem{
    flex-wrap: nowrap;
}
label {
    display: block;
  font-size: 0.6rem;
  margin-bottom: 0.2rem;
  color: #049bb3;
  text-transform: uppercase;
  font-weight: bold;
}

.streamContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    width:100%;
}
.streamItem {
   max-width: 480px;
   max-height: 272px;
    
}

video {
    max-width: 480px;
    max-height: 272px;
    
}
iframe {
    width: 480px;
    height: 272px;
}
h4 {
  font-size: 0.75rem;
  color: #049bb3;
  margin: 0;
  padding: 0;
  position: relative;
}
@media (max-width: 768px) {
    .streamContainer{
        flex-direction: row;
    }
    .streamItem {
   max-width: 280px;
   max-height: 172px;
    
}
    video {
    max-width: 280px;
    max-height: 172px;
    
}
iframe {
    width: 280px;
    height: 172px;
}



}