<hr />
<div class="wrapper">
  <h3>Kish Photo Albums</h3>
  <p>
    We in Kish take a lot of pictures of our weekly dives and indeed the many
    weekend and holiday breaks that we organise and attend. Take some time to
    browse through our album categories.
  </p>

  <br />
  <hr />
</div>

<h3>Kish (and Friends!) 2025 - Arranmore</h3>
<hr />
<h5>Click images to enlarge and scroll</h5>
<div class="container">
  <a
    href="ArranmoreExit1.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure2">
      <img src="ArranmoreExit1.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>

  <a
    href="ArranmoreExit2.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure2">
      <img src="ArranmoreExit2.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>

  <a
    href="ArranmoreExit3.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure2">
      <img src="ArranmoreExit3.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>

  <a
    href="ArranmoreExit4.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure2">
      <img src="ArranmoreExit4.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>

  <a
    href="ArranmoreExit5.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure2">
      <img src="ArranmoreExit5.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>

  <a
    href="ArranmoreExit6.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure2">
      <img src="ArranmoreExit6.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>

  <a
    href="ArranmoreExit7.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure2">
      <img src="ArranmoreExit7.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>

  <a
    href="ArranmoreExit8.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure2">
      <img src="ArranmoreExit8.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>
  <a
    href="ArranmoreGroup1.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure1">
      <img src="ArranmoreGroup1.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>

  <a
    href="ArranmoreGroup2.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Dive!"
  >
    <figure class="figure1">
      <img src="ArranmoreGroup2.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>
  <a
    href="ArranmorePub1.jpg"
    data-lightbox="image-1"
    data-title="Arranmore Good Pints!"
  >
    <figure class="figure1">
      <img src="ArranmorePub1.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>
  <a
    href="ArranmoreLads.jpg"
    data-lightbox="image-1"
    data-title="Arranmore RNLI Boat Tour!"
  >
    <figure class="figure1">
      <img src="ArranmoreLads.jpg" alt="Arranmore" />
      <figcaption>Arranmore 2025!</figcaption>
    </figure>
  </a>
</div>
<div>
  <h3>Kish 2025 - Baltimore & Valentia</h3>
  <hr />
  <div class="container">
    <a
      href="ValentiaJeanSeb.jpg"
      data-lightbox="image-1"
      data-title="Valentia 2025!"
    >
      <figure class="figure1">
        <img src="ValentiaJeanSeb.jpg" alt="Arranmore" />
        <figcaption>Valentia 2025!</figcaption>
      </figure>
    </a>

    <a
      href="ValentiaInez.jpg"
      data-lightbox="image-1"
      data-title="Valentia 2025!"
    >
      <figure class="figure1">
        <img src="ValentiaInez.jpg" alt="Valentia" />
        <figcaption>Valentia 2025!</figcaption>
      </figure>
    </a>

    <a
      href="ValentiaPatPatsy.jpg"
      data-lightbox="image-1"
      data-title="Valentia 2025!"
    >
      <figure class="figure1">
        <img src="ValentiaPatPatsy.jpg" alt="Valentia" />
        <figcaption>Valentia 2025!</figcaption>
      </figure>
    </a>

    <a
      href="ValentiaPeteMc.jpg"
      data-lightbox="image-1"
      data-title="Valentia 2025!"
    >
      <figure class="figure1">
        <img src="ValentiaPeteMc.jpg" alt="Valentia" />
        <figcaption>Valentia 2025!</figcaption>
      </figure>
    </a>

    <a
      href="ValentiaPeteB.jpg"
      data-lightbox="image-1"
      data-title="Valentia 2025!"
    >
      <figure class="figure1">
        <img src="ValentiaPeteB.jpg" alt="Valentia" />
        <figcaption>Valentia 2025!</figcaption>
      </figure>
    </a>
    <a href="BaltimoreGroup1.jpg" data-lightbox="image-1" data-title="Roisin!">
      <figure class="figure1">
        <img src="BaltimoreGroup1.jpg" alt="Baltimore" />
        <figcaption>Baltimore 2025!</figcaption>
      </figure>
    </a>
    <a href="BaltimoreGroup3.jpg" data-lightbox="image-1" data-title="Roisin!">
      <figure class="figure1">
        <img src="BaltimoreGroup3.jpg" alt="Baltimore" />
        <figcaption>Baltimore 2025!</figcaption>
      </figure>
    </a>
    <a
      href="ValentiaBenFranek.jpg"
      data-lightbox="image-1"
      data-title="Valentia 2025!"
    >
      <figure class="figure2">
        <img src="ValentiaBenFranek.jpg" alt="Baltimore" />
        <figcaption>Valentia 2025!</figcaption>
      </figure>
    </a>
    <a href="BaltimoreRoisin.jpg" data-lightbox="image-1" data-title="Roisin!">
      <figure class="figure2">
        <img src="BaltimoreRoisin.jpg" alt="Baltimore" />
        <figcaption>Baltimore 2025!</figcaption>
      </figure>
    </a>

    <a
      href="BaltimoreEmmetStephen.jpg"
      data-lightbox="image-1"
      data-title="EmmetStephen!"
    >
      <figure class="figure2">
        <img src="BaltimoreEmmetStephen.jpg" alt="Baltimore" />
        <figcaption>Baltimore 2025!</figcaption>
      </figure>
    </a>
  </div>
</div>
