<h3 id="">Swimming & Try Dives</h3>
<p>display-text.component works!</p>

<p>
  We go swimming in the Guinness Pool on Watling Street on Wednesday nights,
  between 8 and 9 p.m. We’ve been known to play underwater rugby occasionally,
  and the steam room and sauna up the top of the pool help us to wind down
  afterwards. We have run try a dive nights on Wednesdays during the year -
  between 8-9pm in the Guinness Pool, address above. For details you can contact
  our training officer. There is no charge or commitment required for this, it
  is simply a give it a go and see if you like it then you could look at the
  possibility of taking this interest further.
</p>
<hr />

<h3>What you can see on a dive</h3>

<p>
  The most common question asked by people who have a passing interest in diving
  is “What is there to see down there?” There seems to be a perception that
  Irish Seas are dull and uninteresting, when in fact quite the opposite is
  true. Cold waters of the earths seas such as the Irish Sea and the Atlantic
  ocean are in fact very alive. Granted visibility in Dublin Bay is not the red
  sea - you can see photos of one of the club trips at the red sea on our
</p>
<hr />
<p>
  Fairplay to Kish member Rob Bolger for getting this piece of video when we
  were returning to port. Fairplay to Kish member Rob Bolger for getting this
  piece of video when we were returning to port. Fairplay to Kish member Rob
  Bolger for getting this piece of video when we were returning to port.
  Fairplay to Kish member Rob Bolger for getting this piece of video when we
  were returning to port. Fairplay to Kish member Rob Bolger for getting this
  piece of video when we were returning to port. Fairplay to Kish member Rob
  Bolger for getting this piece of video when we were returning to port.
  Fairplay to Kish member Rob Bolger for getting this piece of video when we
  were returning to port.
</p>
