p {
  margin: 0;
  font-size: 1rem;
  text-wrap: balance;
    color: #049bb3;
    /* background-color: #524133; */
    opacity: 1.0;
    
}
h1 {
  font-size: 25rem;
  margin: 0;
  padding: 0;
  color: #049bb3;
  position: relative;
  background-color: #524133;
opacity: 1.0;
}
h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #049bb3;
  position: relative;
  background-color: #524133;
opacity: 1.0;
}

