<Div class="container">
  <Div id="item0">
    <a
      href="Graduation-20251012-4.jpg"
      data-lightbox="image-1"
      data-title="Member Profile Pic!"
    >
      <figure>
        <img src="Graduation-20251012-4.jpg" alt="members image" />
        <figcaption>Member Profile Pic!</figcaption>
      </figure>
    </a>
  </Div>

  <Div>
    <h3>Individual Member Area</h3>
    <br />
    <p>
      This is an individual members area of the Kish Sub Aqua Club website. Here
      it is envisaged you will find content specific to you.
    </p>
    <br />
    <p>
      It is currently a work in progress. Some possible ideas are listed below
      and we would welcome any suggestions you might have on what should be
      included here
    </p>

    <ul>
      <li>Exclusive Training Materials</li>
      <li>Your Individual Training programmes</li>
    </ul>
    <p>
      As advised above let us know what you think. All suggestions are good so
      let the imagination run!
    </p>

    <hr />

    <div class="control">
      <label for="message">Your Suggestion (todo)</label>
      <textarea id="message" name="message" rows="2" cols="75"></textarea>
    </div>
    <p class="form-actions">
      <button type="reset" class="button button-flat">Reset</button>
      <button type="submit" class="button">Submit</button>
    </p>
  </Div>
</Div>
