<hr />
<div class="wrapper">
  <div>
    <img src="kishLogo3.png" alt="CFT logo image" />
  </div>
  <div>
    <h3>Training Programmes</h3>
    <br />
    <p>
      Have you ever watched The Blue Planet and thought ..'I would love to see
      that for myself, I wonder what it is like to dive'..
    </p>
    <br />
    <p>
      Well we love to introduce new people to the sport so we run a no
      commitment 'Try Dive' Programme for the curious. We have welcomed everyone
      from students to retirees and all in between!.
    </p>
    <br />
    <p>
      You will find this to be a no stress, and fun introductory dive in our
      pool. It is very gentle allowing people to move at their own pace during
      the session. The only mandate is that people enjoy themselves - we place a
      big emphasis in the club on having fun albeit in a fully supervised and
      safe environment.
    </p>

    <br />
    <p>
      For people who want to take it a step further we offer a comprehensive
      suite of training programmes starting with initial certification for
      people who are brand new to diving starting and then progressing through a
      number of grades right up to Instructor and Senior Instructor grades. We
      also offer a range of specialty qualifications on top of the core diving
      programmes.
    </p>
    <br />
    <p>
      Not least that you will definitely learn to coxn our 7.5mtr club RHIB -
      the programmes are listed below.
    </p>
    <ul>
      <li>Try Dive Programme</li>
      <li>Diver 1* Programme</li>
      <li>Diver 2* Programme</li>
      <li>Diver 3* Programme</li>
      <li>Instructor Programme</li>
      <li>Underwater Photography</li>
      <li>Coxn Programme</li>
      <li>Diver First Responder Qualification - PHECC</li>
    </ul>

    <p>
      Training is a combination of theory lecture sessions and pool training
      sessions initially. Students will progress then to confined open water
      dives and then to full open water dives all under the supervision of
      senior instructors.
    </p>
    <br />
    <p>
      Once qualified you will enjoy our weekly dive trips on our 7.5mtr dive
      boat (RHIB). We dive Dublin bay and islands like Dalkey, Muglins, Irelands
      Eye, Lambay Island. The boat trips alone are stunning.
    </p>
    <br />
    <p>
      Equipment will be provided negating the need for an expensive initial
      outlay. Indeed if students then join the club they are then encouraged to
      not buy gear until they try various equipment options and learn what is
      best for their physiology, and importantly, their purse! Members in the
      club facilitate this by providing equipment on loan, similar to when they
      themselves started and availed of the same courtesy. This for me is an
      excellent and invaluable benefit of the club diving model.
    </p>

    <br />
    For more information relating to CFT see their website at www.diving.ie.

    <br />
    <p>todo flesh out and revamp this page</p>
    <hr />
  </div>
  <div>
    <img src="kish-house.svg" alt="logo image" />
  </div>

  <div>
    <h3>A Typical Week</h3>
    <br />
    <p>
      We go swimming in the Guinness Pool on Watling Street on Wednesday nights,
      between 8 and 9 p.m. We’ve been known to play underwater rugby
      occasionally, and the steam room and sauna up the top of the pool help us
      to wind down afterwards… We have run try a dive nights on Wednesdays
      during the year - between 8-9pm in the Guinness Pool, address above. For
      details you can contact our training officer. There is no charge or
      commitment required for this, it is simply a give it a go and see if you
      like it then you could look at the possibility of taking this interest
      further.
    </p>

    <br />
    <h3 id="what-you-can-see-on-a-dive">What you can see on a dive</h3>
    <br />
    <p>
      The most common question asked by people who have a passing interest in
      diving is “What is there to see down there?” There seems to be a
      perception that Irish Seas are dull and uninteresting, when in fact quite
      the opposite is true. Cold waters of the earths seas such as the Irish Sea
      and the Atlantic ocean are in fact very alive. Granted visibility in
      Dublin Bay is not the red sea - you can see photos of one of the club
      trips at the red sea on our site.
    </p>
    <hr />
  </div>

  <div>
    <img src="cft-full.svg" alt="CFT logo image" />
  </div>

  <div>
    <h3>Our Affiliation</h3>
    <br />

    <p>
      Kish Sub Aqua Club is affiliated to the Irish Underwater Council (CFT)
      which is the national governing body for recreational diving and
      underwater sports in Ireland. The CFT is affiliated to both CMAS (the
      world governing body for underwater activities) and the Irish Sports
      Council.
    </p>
    <br />
    <p>
      The CFT provides a nationally recognised training and certification system
      for diver training, and all Kish Sub Aqua Club instructors are CFT
      qualified.
      <br />
      <br />
      For more information on the CFT see their website at www.cft.ie.
    </p>
    <br />
    <br /><br /><br />
    <hr />
  </div>
</div>
