<app-card>
  <div class="flex-container">
    <div class="flex-item-left">
      <p>
        Juliusz on Camera. The dive took place in may this year. Dive site was
        ast of Dalkey. As you can see the water is very clear and the visibility
        is excellent.Water temperature was around 14 degrees Celsius.Juliusz is
        using a GoPro Hero 9 camera in a waterproof housing and was just getting
        used to filming with it.
      </p>
      <hr />
      <p>
        Juliusz on Camera. The dive took place in may this year. Dive site was
        east of Dalkey. As you can see the water is very clear and the
        visibility is excellent. Water temperature was around 14 degrees
        Celsius. Juliusz is using a GoPro Hero 9 camera in a waterproof housing
        and was just getting used to filming with it.
      </p>
    </div>

    <!-- <p> -->
    <!-- Juliusz on Camera. The dive took place in may this year (Dalkey). -->
    <!-- Juliusz on Camera. The dive took place in may this year. Dive site was
      east of Dalkey. As you can see the water is very clear and the visibility
      is excellent. Water temperature was around 14 degrees Celsius. Juliusz is
      using a GoPro Hero 9 camera in a waterproof housing and was just getting
      used to filming with it. -->
    <!-- </p> -->
    <div class="flex-item-right">
      <video autoplay [muted]="'muted'" [loop]="'loop'">
        <source src="/juliusz1.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</app-card>
<!-- width="200px"
      height="115px" -->
