
img {
  width: 10rem;
  height: 10rem;
  position: relative;
  
  /* border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px; */
 
}

.container {
  display: flex;
  
}
a {
  position:relative;
  left: 0rem;
}
.container div {
  
  margin: 0px;
  padding: 3px;
  font-size: 30px;
}
figure {
  width:10rem;
  height: 10rem;
  flex-wrap: wrap;
  align-content: center;
  margin: 0px auto;
  padding: 0px auto;
  background-color: #033b43;
  
}
figcaption { 
font-size:x-small;

}
@media(max-width:768px) {
  .container{
    flex-direction: column;
  }

  .container div {
  margin: 8px;
  padding: 3px;
  font-size: 30px;
}
}
  
/* p {
  margin: 0;
  font-size: 1rem;
  text-wrap: balance;
    color:  #049bb3;
    /* background-color: #524133; */
    /* opacity: 1.0;
} */
/* h1 {
  font-size: 25rem;
  margin: 0;
  padding: 0;
  color: #049bb3;
  position: relative; */
  /* background-color: #524133; */
/* opacity: 1.0;
} */
/* h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #049bb3;
  position: relative;
  /* background-color: #524133; */
/* opacity: 1.0;
} */