<Div class="container">
  <Div>
    <img src="/founders.jpg" alt="founders image" />
  </Div>

  <Div>
    <h3>Our History</h3>
    <br />
    <p>
      Kish Sub Aqua Club was founded in 1986 by a core group of friends and
      colleagues who were interested in sports diving. The club is named after
      the lighthouse that stands on the Kish banks, a few miles north east of
      Dalkey Island. We currently have circa 40 active members ranging from
      their early twenties to mid fifties, with a good balance of male and
      female divers, as well as a range of qualifications from novice to very
      experienced.
    </p>

    <hr />

    <p>
      We swim in the Guinness pool on Watling Street (opposite St. James' Gate)
      at 8 p.m. each Wednesday. We sometimes play Underwater Rugby in the last
      half hour, and its great fun! During the diving season, we dive most
      Sunday mornings out of Dun Laoighaire. We have licenses for the wrecks of
      the Vanguard and the Tayleur, but we also dive off various locations from
      Ireland's Eye and Lambay, depending on the weather.
    </p>
    <br />
    <p>
      todo - flesh the above out more - and explain Freddy Mercury was not a
      founder
    </p>
  </Div>
</Div>
