<hr />
<Div class="container">
  <Div id="item0">
    <a
      href="founders.jpg"
      data-lightbox="image-1"
      data-title="Peter, Rosin, Tom!"
    >
      <figure>
        <img src="founders.jpg" alt="founders image" />
        <figcaption>Founders - Click To View!</figcaption>
      </figure>
    </a>
  </Div>

  <Div>
    <h3>Our History</h3>
    <p>
      Kish Sub Aqua Club was founded in 1986 by a core group of friends and
      colleagues who were interested in sports diving. The club is named after
      the lighthouse that stands on the Kish banks, a few miles north east of
      Dalkey Island. We currently have circa 40 active members ranging from
      their early twenties to mid fifties, with a good balance of male and
      female divers, as well as a range of qualifications from novice to very
      experienced.
    </p>

    <hr />
    <h3>What We Offer</h3>
    <p>
      We offer weekly diving in and around Dublin bay from March to October
      every Sunday and most Thursday nights in Dublin Bay. Diving in Dublin
      ranges from the Muglins to Lambay Is. and includes many well known wrecks
      such as the MV Leinster, Guide Me II, RMS Tayleur and the Vanguard. We
      teach people how to dive from scratch. We also welcome divers from other
      diving organisations such as PADI &amp; BSAC we provide cross-over
      training to such candidates.
    </p>
    <br />
    <p>
      Our members range in age from 17 to 60, and we have a vast experience
      built up within the club.
    </p>
    <p>
      We swim in the Guinness pool on Watling Street (opposite St. James' Gate)
      at 8 p.m. each Wednesday. We sometimes play Underwater Rugby in the last
      half hour, and its great fun! During the diving season, we dive most
      Sunday mornings out of Dun Laoighaire. We have licenses for the wrecks of
      the Vanguard and the Tayleur, but we also dive off various locations from
      Ireland's Eye and Lambay, depending on the weather.
    </p>
    <hr />
    <h3>Our Affiliation</h3>
    <p>
      With a wide range of experience and qualifications within the Club, Kish
      SAC applied for and was accepted as an affiliated Club to the Irish
      Underwater Council (CFT - Comhairle Fó-Thuinn) in 1987. This was important
      for the Club members, not just because they would continue to be part of a
      wider Irish diving fraternity, but they could continue to train all
      newcomers and dive in the knowledge that they were involved in training
      and certification programmes that were endorsed by the World Diving
      Federation (CMAS - Confédération Mondiale des Activités Subaquatiques),
      the international umbrella organisation for recreational diver training
      organisations.
    </p>
  </Div>
  <div>
    <a
      href="founders2.jpg"
      data-lightbox="image-1"
      data-title="Roisin Pre-Kish"
    >
      <figure>
        <img src="founders2.jpg" alt="founders image" />
        <figcaption>Roisin - Click To View!</figcaption>
      </figure>
    </a>
  </div>
</Div>
