/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  
}
.header-container, .header-item1, .header-item2, .header-item3,.main-section {
  background-color: #00282e;

}

a, menu a {
  color: #049bb3;
  /* color:#09cdeb; */
  background-color: #00282e;
  text-decoration:none ;
}
menu a {
  color: #26a4b7;
  /* color:#09cdeb; */
  background-color: #00282e;
  text-decoration:none ;
}

a:hover,
a:active,
.selected {
  background-color: #08424b;
  color: #1ddbf8;
}
/* menu a {
  color: #049bb3;
  background-color: #00282e;
} */

body {
  font-family: "Poppins", sans-serif;
  color: #049bb3;
   background-image: url("../public/coolbackgrounds-unsplash-bean.jpg");
   height: 100%;
   /* background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8; 
   margin: 0;
  padding: 0; 
   */
  /* background-color: #36b304; */
} 

#landing-action1, #landing-action2 {

  color: #022d35;
}


h1 {
  font-size: 25rem;
  margin: 0;
  padding: 0;
  position: relative;
  /* background-color: #524133; */
  opacity: 1.0;
}

h2 {
  margin: 0;
  font-size: .9rem;
  width: 100%;
  text-wrap: balance;
  
}
h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  position: relative;
  /* background-color: #524133; */
 
}
h1, h2, h3 {
  color: #049bb3;
}


p {
  margin: 0;
  font-size: 1rem;
  text-wrap: balance;
    color: #049bb3;
    /* background-color: #524133; */
}
@media (max-width: 768px) {
  main {
    margin: 4rem auto;
    grid-template-columns: 1fr 3fr;
  }

.flex-item h2 {
  margin: 0;
  font-size: 0.9rem;
  width: 60%;
  text-wrap: balance;
  color: #049bb3;
}

}



