<h2>Click on an item to view details & top right for scrollable schedule</h2>
<div class="container-calendar">
  <iframe
    class="item-calendar"
    src="https://calendar.google.com/calendar/embed?src=7aa3df5cdb07bbbf971e3af9c86ea9b462438f052c4e3cb7e478af8a36d6a717%40group.calendar.google.com&ctz=Europe%2FDublin"
    frameborder="0"
    scrolling="no"
  ></iframe>
</div>

<!-- new <iframe src="https://calendar.google.com/calendar/embed?src=7aa3df5cdb07bbbf971e3af9c86ea9b462438f052c4e3cb7e478af8a36d6a717%40group.calendar.google.com&ctz=Europe%2FDublin" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->

<!-- //old -->
<!-- src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FDublin&showPrint=0&src=N2FhM2RmNWNkYjA3YmJiZjk3MWUzYWY5Yzg2ZWE5YjQ2MjQzOGYwNTJjNGUzY2I3ZTQ3OGFmOGEzNmQ2YTcxN0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237986cb" -->
